.btn {
  padding: 1.25rem 2.5rem;
  border-radius: 2rem;
}

.btn--primary {
  background-color: var(--pink);
  color: var(--very-pale-blue);
}

.btn--secondary {
  border: 1px solid var(--light-pink);
  color: var(--light-pink);
}

.btn__icon {
  width: 22px;
  height: 22px;
}

.btn--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .btn__icon {
    margin-left: var(--mb-0-5);
    width: auto;
    height: auto;
  }
}